#container{
	width: 970px;
	margin: auto;
	padding: 0px;
	font-family: arial;
}

#header img{
	display: inline-block;
	position: absolute;
	width: 70px;
	height: 70px;
}

#header h1{
	display: inline-block;
	vertical-align: top;
	margin: 20px 0px 0px 75px
}

#header span{
	color: #2F86C9;
}

#header h2{
	display: block;
	background-image: linear-gradient(#0F63A4, #4F7EA2, #0F63A4);
	vertical-align: top;
	color: white;
	margin: 0px;
	padding: 10px;
}

#mainBody{
	vertical-align: top;
	display: inline-block;
	background-image: linear-gradient(#D6D6D6, white, white);
}

#sideBar{
	width: 200px;
	vertical-align: top;
	display: inline-block;
	margin-left: 5px;
}

	#sideBar h5{
		margin: 15px 0px 15px 0px;
	}
	.internetColor{
		color: red;
	}

	#sideBar p{
		font-weight: bold;
		font-size: 14px;
		margin-bottom: 20px;
		margin: 0px;
	}

	.sideBarFontColor{
		color: #2F86C9;
	}

	.Button{
		list-style-type: none;
		text-align: center;	
		border-bottom: solid 1px silver;	
	}

	.watchVideo{
		background-color: #2F86C9;
		padding: 5px;
		border: solid 1px silver;
		border-radius: 7px;
		box-shadow: 5px;
		font-size: 14px;
		margin: 5px 10px 3px 0px;
	}

	.moreResources{
		background-color: orange;
		padding: 5px;
		border: solid 1px silver;
		border-radius: 7px;
		font-size: 14px;
		box-shadow: 5px;
		margin: 0px 10px 25px 0px;
	}

	.ButtonLink{
		color: white;
		font-weight: bold;
		text-decoration: none;
	}

	.sideBarBackgroundImage{
		width: 200px;
		height: 240px;
		background-image: url("ad_background.png");
		text-align: center;
		padding-top: 20px;
	}

	.sideBarBackgroundImage p{
		color: white;
		font-size: 40px;
		font-weight: bold;
		
	}

	.sideBarBackgroundImage img{
		height: 120px;
		width: 80px;
		margin: 10px;
	}

	.sideBarBackgroundImage li{
		list-style-type: none;
		text-align: center;
		background-color: #00FFFF;
		padding: 5px;
		border-radius: 5px;
		margin: 0px 20px 20px 20px;
	}

	.sideBarBackgroundImage a{
		font-weight: bold;
		color: white;
		text-decoration: none;
	}
	.sideBarBackgroundImage span{
		font-size: 10px;
	}

#mainPage{
	display: inline-block;
	vertical-align: top;
	margin: 0px 0px 0px 40px;
}
	.topbar{
		border-bottom: solid 1px silver;
	}
	.home{
		display: inline-block;
		height: 20px;
		width: 20px;
	}

	.DNS{
		display: inline-block;
		color: #0F63A4;
	}

	.phone{
		height: 30px;
		width: 30px;
		margin-top: 10px;
		margin-left: 460px;
		display: inline-block;
	}

	.contactDetail{
		width: 160px;
		height: 65px;
		text-align: center;
		font-size: 10px;
		display: inline-block;
	}

	.contactNumber{
		font-size: 24px;
		font-weight: bold;
		color: rgb(37, 193, 221);
	}

